<a href="https://colab.research.google.com/github/guptasurabhi/Week-6-File-ingestion-and-schema-validation/blob/main/Week_6_File_ingestion_and_schema_validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving health_insurance.csv to health_insurance.csv

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/health_insurance.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1300 non-null   int64
 1   gender        1300 non-null   object
 2   bmi           1300 non-null   float64
 3   bp            1300 non-null   int64
 4   children      1300 non-null   int64
 5   region        1300 non-null   object
 6   smoker        1300 non-null   object
 7   medical_cost  1300 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 81.4+ KB

In [5]:
df.head()

   age gender     bmi  bp   children     region      smoker  medical_cost
0   23      M  31.900  157         0  southwest      smoker   16884.92400
1   20      F  36.770  160         1  southeast  non-smoker    1725.55230
2   33      F  35.000  145         3  southeast  non-smoker    4449.46200
3   37      F  23.705  153         0  northwest  non-smoker   21984.47061
4   36      F  27.880  156         0  northwest  non-smoker    3866.85520

In [6]:
df.columns

Index(['age', 'gender', 'bmi', 'bp ', 'children', 'region', 'smoker',
       'medical_cost'],
      dtype='object')

In [7]:
new=df.columns.str.upper()
print(new)

Index(['AGE', 'GENDER', 'BMI', 'BP ', 'CHILDREN', 'REGION', 'SMOKER',
       'MEDICAL_COST'],
      dtype='object')

In [8]:

df.columns=df.columns.str.replace(' ','')
print(df)

      age gender     bmi   bp  children     region      smoker  medical_cost
0      23      M  31.900  157         0  southwest      smoker   16884.92400
1      20      F  36.770  160         1  southeast  non-smoker    1725.55230
2      33      F  35.000  145         3  southeast  non-smoker    4449.46200
3      37      F  23.705  153         0  northwest  non-smoker   21984.47061
4      36      F  27.880  156         0  northwest  non-smoker    3866.85520
...   ...    ...     ...  ...       ...        ...         ...           ...
1295   54      F  30.970  143         3  southwest  non-smoker   10600.54830
1296   22      M  34.920  156         0  northeast  non-smoker    2205.98080
1297   21      M  34.850  145         0  southeast  non-smoker    1629.83350
1298   22      M  24.800  150         0  northwest  non-smoker    2007.94500
1299   63      M  33.070  159         0  northwest      smoker   29141.36030

[1300 rows x 8 columns]

In [9]:
df.head()

   age gender     bmi   bp  children     region      smoker  medical_cost
0   23      M  31.900  157         0  southwest      smoker   16884.92400
1   20      F  36.770  160         1  southeast  non-smoker    1725.55230
2   33      F  35.000  145         3  southeast  non-smoker    4449.46200
3   37      F  23.705  153         0  northwest  non-smoker   21984.47061
4   36      F  27.880  156         0  northwest  non-smoker    3866.85520

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df['smoker'].value_counts()

non-smoker    1035
smoker         265
Name: smoker, dtype: int64

In [25]:
df['age'].value_counts()

22    45
23    41
52    36
24    36
54    35
55    33
21    33
49    33
59    32
29    30
43    30
61    30
33    30
48    30
46    29
51    29
27    29
28    29
35    28
25    28
34    27
42    27
60    26
40    26
38    25
31    25
58    25
32    24
26    24
30    24
47    24
57    24
53    24
39    23
36    23
66    23
41    23
45    23
37    22
44    21
64    20
20    20
65    20
56    20
50    20
63    19
62    19
67    13
19    10
68     7
69     3
Name: age, dtype: int64

In [28]:
df['gender'].value_counts()

F    657
M    643
Name: gender, dtype: int64

In [30]:
df.empty

False

In [31]:
df.isnull()

        age  gender    bmi     bp  children  region  smoker  medical_cost
0     False   False  False  False     False   False   False         False
1     False   False  False  False     False   False   False         False
2     False   False  False  False     False   False   False         False
3     False   False  False  False     False   False   False         False
4     False   False  False  False     False   False   False         False
...     ...     ...    ...    ...       ...     ...     ...           ...
1295  False   False  False  False     False   False   False         False
1296  False   False  False  False     False   False   False         False
1297  False   False  False  False     False   False   False         False
1298  False   False  False  False     False   False   False         False
1299  False   False  False  False     False   False   False         False

[1300 rows x 8 columns]

In [32]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1295    False
1296    False
1297    False
1298    False
1299    False
Length: 1300, dtype: bool

In [35]:
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1300 non-null   int64
 1   gender        1300 non-null   object
 2   bmi           1300 non-null   float64
 3   bp            1300 non-null   int64
 4   children      1300 non-null   int64
 5   region        1300 non-null   object
 6   smoker        1300 non-null   object
 7   medical_cost  1300 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 81.4+ KB

In [36]:
df.shape

(1300, 8)

In [38]:
df.index

RangeIndex(start=0, stop=1300, step=1)

In [39]:
df.columns

Index(['age', 'gender', 'bmi', 'bp', 'children', 'region', 'smoker',
       'medical_cost'],
      dtype='object')

In [41]:
df.size

10400

AttributeError: ignored